<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wuyson.aidllib">

    <application>
        <service
            android:name=".BookManagerService"
            android:process=":remote"/>

        <service
            android:name=".pool.BinderPoolService"
            android:process=":binderPool"/>
    </application>

</manifest>